@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,300;0,700;0,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    height: 100vh;
    background: #edf2f8;
}

.grid-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "grid1 grid1 grid2 grid3"
                         "grid4 grid5 grid5 grid3";
    gap: 2rem;
    width: 1200px;
    min-width: 1200px;
    height: 700px;
}

.user {
    display: flex;
    align-items: center;
}

.user__img--light-text {
    width: 2.5rem;
    border-radius: 50%;
    border: .2rem solid rgb(179, 178, 178);
    margin-right: 1rem;
}

.user__img--dark-text {
    width: 2.5rem;
    border-radius: 50%;
    border: .2rem solid rgb(59, 59, 59);
    margin-right: 1rem;
}

.grid1,
.grid2,
.grid3,
.grid4,
.grid5 {
    padding: 2.1rem;
    border-radius: .5rem;
    box-shadow: 1px 1px 4px hsla(0, 0%, 10%, 0.1);
}

.light-text__name {
    color: #ffffff;
    font-weight: 700;
    font-size: 0.8rem;
    padding-bottom: .5rem;
}

.light-text__verified {
    color: rgba(255,255,255,0.5);
    font-weight: 400;
    font-size: 0.75rem;
}

.light-text__summary {
    color: #ffffff;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.75rem;
    padding: 1rem 0;
}

.light-text__quote {
    color: rgba(255,255,255,0.7);
    font-size: 0.8rem;
    line-height: 1.25rem;
}

.dark-text__name {
    color: #48556a;
    font-weight: 700;
    font-size: 0.8rem;
    padding-bottom: .5rem;

}

.dark-text__verified {
    color: rgba(72,85,106,0.5);
    font-weight: 400;
    font-size: 0.7rem;
}

.dark-text__summary {
    color: #48556a;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.75rem;
    padding: 1rem 0;
}

.dark-text__quote {
    color: rgba(42, 50, 63, 0.6);
    font-size: 0.8rem;
    line-height: 1.25rem;
}

.grid1 {
    grid-area: grid1;
    background: linear-gradient(120deg, #734cb3, #7e57bb);
}

.grid2 {
    grid-area: grid2;
    background: linear-gradient(120deg, #49556b, #586274);
}

.grid3 {
    grid-area: grid3;
    background: linear-gradient(120deg, #edf2f8,  #f3f6f8);
}

.grid4 {
    grid-area: grid4;
    background: linear-gradient(120deg, #edf2f8,  #f3f6f8);
}

.grid5 {
    grid-area: grid5;
    background: linear-gradient(120deg, #19212e, #22252b);
}

footer {
    position: fixed;
    height: 2rem;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    bottom: 1rem;
  }

@media only screen and (max-width: 1200px) {

    main{
        display: flex;
        font-family: 'Barlow Semi Condensed', sans-serif;
        padding: 2rem;
        height: auto;
    }
    
    .grid-main {
        display: flex;
        flex-direction: column;
        height: 90%;
        min-width: 80%;
        max-width: 40rem;
    }

    footer {
        position: relative;
        padding: 2rem 0;
}   

@media only screen and (max-width: 400px) {

    main{
        display: flex;
        font-family: 'Barlow Semi Condensed', sans-serif;
        padding: 1rem;
    }
    
    .grid-main {
        display: flex;
        flex-direction: column;
        height: 90%;
        min-width: 80%;
        max-width: 40rem;
        padding-bottom: 1rem;
    }
}   